.user-posts-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1rem;
    min-width: 500px;
}

.my-img-container {
    width: 90%;
    max-height: 20vh;
}

.my-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    aspect-ratio: 1/1;
    overflow: hidden;
}

.my-img-container:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.my-img-container:hover .overlay {
    opacity: 1;
}