    .suggestion-container {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        padding: 0.5rem 0;
        max-width: 42rem;
        min-width: 42rem;
    }
    
    .suggestion-row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 42rem;
        overflow: auto;
        padding: 1rem;
        background-color: white;
    }
    
    .sugg-header {
        padding: 0.3rem;
        margin-bottom: 0.5rem;
    }