    .suggestion-container {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        padding: 0.5rem 0;
        max-width: 45vw;
        min-width: 360px;
    }
    .suggestion-row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .sugg-header {
        padding: 0.3rem;
        margin-bottom: 0.5rem;
    }