.login-container{
    text-align: center;
    width: 20rem;
    border: 2px solid #DBDBDB;
    border-radius: 3px;
    background-color: white;
}

.login-top-container{
    height: 50%;
    padding: 2rem;
    margin-bottom: 1rem;
}

.login-bottom-container{
    height: 4rem;
    padding: 1rem;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:  row;
    background-color: #FAFAFA;
    height: 100vh;
}

.colpn {
    margin: auto;
    text-align: center;
    display: block;
}

a {
    text-decoration: none;
}

.sign-up{
    font-weight: bold;
    margin-left: 1rem;
}

.forgotten-password{
    font-size: 0.75rem;
}