.new-account{
    color: black;
    font-weight: 600;
}

.cool-btn{
    text-align: center;
    width: 20rem;
    height: 3rem;
    border: 2px solid #DBDBDB;
    background-color: #FAFAFA;
    margin-top: -2rem;
    padding: 0.75rem;
    border-top: 1px solid #DBDBDB;
}