.comment-container{
    display: flex;
    flex-direction: row;
    border-top: 1px solid rgb(224, 224, 224);
    padding-top: 1.5rem;
    align-items: center;

}

.comment-text-area{
    border: none;
    margin-left: 0.3rem;
}

.post-btn{
    font-size: large;
    font-weight: 600;
    color: rgb(40, 170, 250);
    margin: 0 0.8rem;
}