.tag-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0.5rem;
}

.tag {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: rgb(140, 140, 140);
    font-size: medium;
}

.tag:hover {
    cursor: pointer;
    color: rgb(180, 180, 180);
}

.even {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right {
    align-items: end;
    justify-content: end;
}

.col {
    display: flex;
    flex-direction: column;
}